@font-face {
	font-family: "Maple Mono NL";
	src: url("/assets/fonts/MapleMonoNL-Thin.ttf.woff2") format("woff2");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "Maple Mono NL";
	src: url("/assets/fonts/MapleMonoNL-ThinItalic.ttf.woff2") format("woff2");
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: "Maple Mono NL";
	src: url("/assets/fonts/MapleMonoNL-ExtraLight.ttf.woff2") format("woff2");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "Maple Mono NL";
	src: url("/assets/fonts/MapleMonoNL-ExtraLightItalic.ttf.woff2") format("woff2");
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: "Maple Mono NL";
	src: url("/assets/fonts/MapleMonoNL-Light.ttf.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Maple Mono NL";
	src: url("/assets/fonts/MapleMonoNL-LightItalic.ttf.woff2") format("woff2");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "Maple Mono NL";
	src: url("/assets/fonts/MapleMonoNL-Regular.ttf.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Maple Mono NL";
	src: url("/assets/fonts/MapleMonoNL-Italic.ttf.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Maple Mono NL";
	src: url("/assets/fonts/MapleMonoNL-Medium.ttf.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Maple Mono NL";
	src: url("/assets/fonts/MapleMonoNL-MediumItalic.ttf.woff2") format("woff2");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "Maple Mono NL";
	src: url("/assets/fonts/MapleMonoNL-SemiBold.ttf.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Maple Mono NL";
	src: url("/assets/fonts/MapleMonoNL-SemiBoldItalic.ttf.woff2") format("woff2");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "Maple Mono NL";
	src: url("/assets/fonts/MapleMonoNL-Bold.ttf.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Maple Mono NL";
	src: url("MapleMonoNL-BoldItalic.ttf.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "Maple Mono NL";
	src: url("/assets/fonts/MapleMonoNL-ExtraBold.ttf.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Maple Mono NL";
	src: url("/assets/fonts/MapleMonoNL-ExtraBoldItalic.ttf.woff2") format("woff2");
	font-weight: 800;
	font-style: italic;
}

:root {
	--primary-color: rgb(255, 0, 128);

	--bg-color: rgb(10, 10, 10);
	--text-color: rgb(250, 250, 250);
}

html {
	font-family: "Maple Mono NL";
	background-color: var(--bg-color);
	color: var(--text-color)
}

a {
	color: var(--primary-color);
}

a:visited {
	color: rgb(158, 0, 250);
}

header {
	border: 5px double rgb(26, 26, 26);
}

ul {
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
}